APP_ENV=production
APP_DEBUG=false

DB_HOST=localhost
DB_NAME=u256845289_bosun_proto
DB_USER=u256845289_Markgreengiaj
DB_PASS=tQ/38e$4oU5U

MAIL_MAILER=smtp
MAIL_HOST=your_mail_host
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=your_email@example.com
MAIL_FROM_NAME="Sailing Club"